### Table of Content
1. [Import data](#Import-data)
2. [Inspecting data](#Inspecting-data)
3. [Creating new DataFrame](#Creating-new-DataFrame)
4. [Indexing and selecting data](#Indexing-and-selecting-data)
5. [Converting data type](#Converting-data-type)
6. [Creating new boolean column using condition](#Creating-new-boolean-column-using-condition)
7. [Mapping values to existing columns](#Mapping-values-to-existing-columns)
8. [Convert column to datetime column](#Convert-column-to-datetime-column)
9. [Groupby data based on specific column](#Groupby-data-based-on-specific-column)

**Pandas** stands for **Python Data Analysis Library**, is the most popular Python library for data analysis.

In [1]:
# Import pandas using alias pd, numpy as np
import pandas as pd 
import numpy as np


### Import data
-------------------------

Load data stored in a csv file into a DataFrame using **pd.read_scv()** method

In [2]:
marketing = pd.read_csv('/kaggle/input/arketing-campaign/marketing_campaign.csv', sep = ';')

### Inspecting data
-------------------------

In [3]:
# Show the DataFrame shape, such as number of rows and columns
print("The shape of the DataFrame: ",marketing.shape)

The shape of the DataFrame:  (2240, 29)

If the system allowed maximal rows is larger than the number of rows of a DataFrame, all rows can be displayed.

In [4]:
# Show the maximal system allowed rows in a DataFrame
print(pd.options.display.max_rows)

60

In [5]:
# Change the system allowed maximal rows
pd.options.display.max_rows = 10

In [6]:
# Show all columns in the dataframe
# None is assigned to 'display.max_columns', indicating that there is no maximum limit on the number of columns to display.
pd.set_option('display.max_columns', None)

print("Display Content of the DataFrame:\n ", marketing)

Display Content of the DataFrame:
           ID  Year_Birth   Education Marital_Status   Income  Kidhome  \
0      5524        1957  Graduation         Single  58138.0        0
1      2174        1954  Graduation         Single  46344.0        1
2      4141        1965  Graduation       Together  71613.0        0
3      6182        1984  Graduation       Together  26646.0        1
4      5324        1981         PhD        Married  58293.0        1
...     ...         ...         ...            ...      ...      ...
2235  10870        1967  Graduation        Married  61223.0        0
2236   4001        1946         PhD       Together  64014.0        2
2237   7270        1981  Graduation       Divorced  56981.0        0
2238   8235        1956      Master       Together  69245.0        0
2239   9405        1954         PhD        Married  52869.0        1

      Teenhome Dt_Customer  Recency  MntWines  MntFruits  MntMeatProducts  \
0            0  2012-09-04       58       635         88              546
1            1  2014-03-08       38        11          1                6
2            0  2013-08-21       26       426         49              127
3            0  2014-02-10       26        11          4               20
4            0  2014-01-19       94       173         43              118
...        ...         ...      ...       ...        ...              ...
2235         1  2013-06-13       46       709         43              182
2236         1  2014-06-10       56       406          0               30
2237         0  2014-01-25       91       908         48              217
2238         1  2014-01-24        8       428         30              214
2239         1  2012-10-15       40        84          3               61

      MntFishProducts  MntSweetProducts  MntGoldProds  NumDealsPurchases  \
0                 172                88            88                  3
1                   2                 1             6                  2
2                 111                21            42                  1
3                  10                 3             5                  2
4                  46                27            15                  5
...               ...               ...           ...                ...
2235               42               118           247                  2
2236                0                 0             8                  7
2237               32                12            24                  1
2238               80                30            61                  2
2239                2                 1            21                  3

      NumWebPurchases  NumCatalogPurchases  NumStorePurchases  \
0                   8                   10                  4
1                   1                    1                  2
2                   8                    2                 10
3                   2                    0                  4
4                   5                    3                  6
...               ...                  ...                ...
2235                9                    3                  4
2236                8                    2                  5
2237                2                    3                 13
2238                6                    5                 10
2239                3                    1                  4

      NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  \
0                     7             0             0             0
1                     5             0             0             0
2                     4             0             0             0
3                     6             0             0             0
4                     5             0             0             0
...                 ...           ...           ...           ...
2235                  5             0             0             0
2236                  7             0             0             0
2237                  6             0             1             0
2238                  3             0             0             0
2239                  7             0             0             0

      AcceptedCmp1  AcceptedCmp2  Complain  Z_CostContact  Z_Revenue  Response
0                0             0         0              3         11         1
1                0             0         0              3         11         0
2                0             0         0              3         11         0
3                0             0         0              3         11         0
4                0             0         0              3         11         0
...            ...           ...       ...            ...        ...       ...
2235             0             0         0              3         11         0
2236             1             0         0              3         11         0
2237             0             0         0              3         11         0
2238             0             0         0              3         11         0
2239             0             0         0              3         11         1

[2240 rows x 29 columns]

In [7]:
# Show the first 5 rows of a DataFrame using head() method
marketing.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [8]:
# Show the information of a DataFrame
marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [9]:
# Generate descriptive statstics of a DataFrame
marketing.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,27.062946,44.021875,2.325000,4.084821,2.662054,5.790179,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,41.280498,52.167439,1.932238,2.778714,2.923101,3.250958,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,1.000000,9.000000,1.000000,2.000000,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,8.000000,24.000000,2.000000,4.000000,2.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,33.000000,56.000000,3.000000,6.000000,4.000000,8.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,263.000000,362.000000,15.000000,27.000000,28.000000,13.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

### Creating new DataFrame
------------------------------
A DataFrame can be created by **pd.DataFrame()** method.

The content of a DataFrame is constructed using Python **dictionary-list**, where the **key** in the dictionary is the **column name** of the DataFrame, and the **values** are **a list of entries**.

In [10]:
pd.DataFrame({"Year_Birth":[1999,2000],
              "Income":[36000,38000]})

   Year_Birth  Income
0        1999   36000
1        2000   38000

By default, the row index of a new DataFrame is acsending from 0(0,1,2,3,...).
It's also possible to assign the desired row index when creating a DataFrame unsing `index`.

In [11]:
pd.DataFrame({"Year_Birth":[1999,2000],
              "Income":[36000,38000]},
               index = [1,2])

   Year_Birth  Income
1        1999   36000
2        2000   38000

### Indexing and selecting data
---------------------------------

Access column of a DataFrame using `.` or `[]` operator.

In [12]:
X = marketing.Education

In [13]:
type(X)

pandas.core.series.Series

In [14]:
marketing['Education']

0       Graduation
1       Graduation
2       Graduation
3       Graduation
4              PhD
           ...
2235    Graduation
2236           PhD
2237    Graduation
2238        Master
2239           PhD
Name: Education, Length: 2240, dtype: object

the indexing operator `[]` does have the advantage that it can handle column names with reserved characters in them (e.g. if we had a income in year column, df.income in year wouldn't work).

Access single value of a column in DataFrame

In [15]:
marketing['Year_Birth'][0]

1957

In [16]:
marketing['Income'][1]

46344.0

### Converting data type
--------------------------

In [17]:
#df['year'] = df['year'].astype('bool')
#print(df['year'])

### Creating new boolean column using condition
----------------------------------------

In [18]:
marketing['after_1990'] = np.where(
                   marketing['Year_Birth']>=1990,
                   True, False)
print(marketing['after_1990'])

0       False
1       False
2       False
3       False
4       False
        ...
2235    False
2236    False
2237    False
2238    False
2239    False
Name: after_1990, Length: 2240, dtype: bool

### Mapping values to existing columns
-------------------------------------

In [19]:
# column marketing_channel is existed, and column channel_code is new created
marital_dict= {'Single':1, 'Together':2, 'Married': 3, 'Divorced': 4, 'Widow': 5, 'Absurd':6,'Alone': 7, 'YOLO':8 }
marketing['marital_dict'] = marketing['Marital_Status'].map(marital_dict)

In [20]:
marketing.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,after_1990,marital_dict
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1,False,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0,False,1
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0,False,2
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0,False,2
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0,False,3

In [21]:
print(marketing.marital_dict)

0       1
1       1
2       2
3       2
4       3
       ..
2235    3
2236    2
2237    4
2238    2
2239    3
Name: marital_dict, Length: 2240, dtype: int64

### Convert column to datetime column
-----------------------------------------

In [22]:
marketing = pd.read_csv('/kaggle/input/arketing-campaign/marketing_campaign.csv', sep = ';', parse_dates=['Dt_Customer'])

In [23]:
# check data type of Dt_Customer
marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   datetime64[ns]
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(25), object(2)
memory usage: 507.6+ KB

Or

In [24]:
marketing['Year_Birth'] = pd.to_datetime(marketing['Year_Birth'])

In [25]:
print(marketing['Year_Birth'].dtype)

datetime64[ns]

### Groupby data based on specific column
----------------------------------------

In [26]:
# Group by date_served and count number of unique user_id's
education_customers = marketing.groupby(['Education'])['ID'].nunique()
print(education_customers)

Education
2n Cycle       203
Basic           54
Graduation    1127
Master         370
PhD            486
Name: ID, dtype: int64