### Table of Content
1. [Import data](#Import-data)
2. [Inspecting data](#Inspecting-data)
3. [Creating new DataFrame](#Creating-new-DataFrame)
4. [Indexing and selecting data](#Indexing-and-selecting-data)
5. [Converting data type](#Converting-data-type)

Pandas stands for Python Data Analysis Library, is the most popular Python library for data analysis.

Import **pandas** using alias **pd**

In [1]:
import pandas as pd 
import numpy as np


### Import data
-------------------------

Load data stored in a csv file into a DataFrame using **pd.read_scv()** method

In [2]:
df = pd.read_csv('/kaggle/input/canada-per-capita-income/Canada_per_capita_income.csv')

### Inspecting data
-------------------------

In [3]:
# Show the DataFrame shape, such as number of rows and columns
print("The shape of the DataFrame: ",df.shape)

The shape of the DataFrame:  (47, 2)

Pandas only return the first 5 rows and last 5 rows and headers of a DataFrame, if the total rows of a DataFrame is less the the maximal rows allowed by system.

If the system allowed maximal rows is larger than the number of rows of a DataFrame, all rows can be displayed.

In [4]:
# Show the maximal system allowed rows in a DataFrame
print(pd.options.display.max_rows)

60

In [5]:
# Change the system allowed maximal rows
pd.options.display.max_rows = 30

In [6]:
# Show all columns in the dataframe
# None is assigned to 'display.max_columns', indicating that there is no maximum limit on the number of columns to display.
pd.set_option('display.max_columns', None)

print("Display Content of the DataFrame:\n ", df)

Display Content of the DataFrame:
      year        income
0   1970   3399.299037
1   1971   3768.297935
2   1972   4251.175484
3   1973   4804.463248
4   1974   5576.514583
..   ...           ...
42  2012  42665.255970
43  2013  42676.468370
44  2014  41039.893600
45  2015  35175.188980
46  2016  34229.193630

[47 rows x 2 columns]

In [7]:
# Show the first 5 rows of a DataFrame using head() method
df.head()

   year       income
0  1970  3399.299037
1  1971  3768.297935
2  1972  4251.175484
3  1973  4804.463248
4  1974  5576.514583

In [8]:
# Show the information of a DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    47 non-null     int64
 1   income  47 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 880.0 bytes

In [9]:
# Generate descriptive statstics of a DataFrame
df.describe()

              year        income
count    47.000000     47.000000
mean   1993.000000  18920.137063
std      13.711309  12034.679438
min    1970.000000   3399.299037
25%    1981.500000   9526.914515
50%    1993.000000  16426.725480
75%    2004.500000  27458.601420
max    2016.000000  42676.468370

### Creating new DataFrame
------------------------------
A DataFrame can be created by **df.DataFrame()** method.

The content of a DataFrame is constructed using Python **dictionary-list**, where the **key** in the dictionary is the **column name** of the DataFrame, and the **values** are **a list of entries**.

In [10]:
pd.DataFrame({"year":[2020,2021],
              "income":[36000,38000]})

   year  income
0  2020   36000
1  2021   38000

By default, the row index of a new DataFrame is acsending from 0(0,1,2,3,...).
It's also possible to assign the desired row index when creating a DataFrame unsing `index`.

In [11]:
pd.DataFrame({"year":[2020,2021],
              "income":[36000,38000]},
               index = [1,2])

   year  income
1  2020   36000
2  2021   38000

### Indexing and selecting data
---------------------------------

Access column of a DataFrame using `.` or `[]` operator.

In [12]:
X = df.year
X

0     1970
1     1971
2     1972
3     1973
4     1974
      ...
42    2012
43    2013
44    2014
45    2015
46    2016
Name: year, Length: 47, dtype: int64

In [13]:
type(X)

pandas.core.series.Series

In [14]:
X= df['income']
type(X)

pandas.core.series.Series

the indexing operator `[]` does have the advantage that it can handle column names with reserved characters in them (e.g. if we had a income in year column, df.income in year wouldn't work).

Access single value of a column in DataFrame

In [15]:
df['year'][0]

1970

In [16]:
df['income'][1]

3768.297935

### Converting data type
--------------------------

In [17]:
#df['year'] = df['year'].astype('bool')
#print(df['year'])

### Creating new boolean column using condition
----------------------------------------

In [18]:
df['after_2000'] = np.where(
                   df['year']>=2000,
                   True, False)
print(df['after_2000'])

0     False
1     False
2     False
3     False
4     False
      ...
42     True
43     True
44     True
45     True
46     True
Name: after_2000, Length: 47, dtype: bool